# =========================
# Python cache / compiled
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environment
# =========================
venv/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# Vector database (RAG)
# =========================
data/

# =========================
# Temporary uploaded files 
# =========================
uploads/
temp/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE settings
# =========================
.vscode/
.idea/